@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$screenBrkpnt: 800px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body {
    padding: 5% 5%;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:  hsl(236, 13%, 42%);
}

h1 {
    font-size: 2rem; //30px
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    margin-bottom: 20px;
}
h2 {
    font-size: 1.66rem; //25px
    font-weight: 700;
    margin-bottom: 30px;
}
h3 {
    font-size: 1.33rem; //20px
    font-weight: 800;
    margin-bottom: 20px;
}
p {
    font-weight: 400;
    margin-bottom: 10%;
    line-height: 1.8;
}
a {
    text-decoration: none;
    color:hsl(236, 13%, 42%);
    transition: .3s ease-in-out;
}
.readMBttn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 13px 40px;
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    cursor: pointer;
    margin-bottom: 10%;
    
    &:hover {
        background: hsl(240, 100%, 5%);
    }
}
.noScroll {
    overflow: hidden;
}